/* *********************** */
/* Categories and Tags Pages */
/* *********************** */
.edit-tags-php #screen-meta-links {
    margin: 0 35% 0 0;
    padding: 0 60px 0 0;
}

#col-container {
    overflow: visible;
}

.edit-tags-php .search-form {
    display: inline-block;
    padding: 20px 0;
    @media screen and (max-width: 782px) {
        padding: 0;
    }
}

.edit-tags-php p.search-box {
    float: none;

    @media screen and (max-width: 782px) {
        height: auto;
        margin: 0;
        position: static;
    }
}

.edit-tags-php #col-left {
    background: #eeecec;
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, .05) 0%, rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, 0) 100%);
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, .05) 0%, rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, 0) 100%);
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .05) 0%, rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, 0) 100%);
    background-image: linear-gradient(to right, rgba(0, 0, 0, .05) 0%, rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, 0) 100%);
    color: #555;
    float: right;
    // margin: -110px 0 0 0;

    @media only screen and (max-width: 768px) {
        background: none;
        float: none;
        margin-right: 20px;
        width: auto;
    }
}

.branch-4-6.edit-tags-php #col-left,
.branch-4-7.edit-tags-php #col-left,
.branch-4-8.edit-tags-php #col-left {
    position: relative;
}

#col-leftback {
    background: #eeecec;
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, .05) 0%, rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, 0) 100%);
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, .05) 0%, rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, 0) 100%);
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .05) 0%, rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, 0) 100%);
    background-image: linear-gradient(to right, rgba(0, 0, 0, .05) 0%, rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, 0) 100%);
    bottom: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 35%;
    z-index: -1;

    @media only screen and (max-width: 768px) {
        display: none;
    }
}

.branch-4-6 #col-leftback,
.branch-4-7 #col-leftback,
.branch-4-8 #col-leftback {
    z-index: 0;
}

.edit-tags-php #col-right {
    float: left;

    @media only screen and (max-width: 768px) {
        float: none;
        margin: 0;
    }

    h2 {
        margin-right: 60px;

        @media only screen and (max-width: 768px) {
            margin-right: 20px;
        }
    }
}

.edit-tags-php #col-left .col-wrap {
    padding: 0 30px;
}

.edit-tags-php #col-right .col-wrap {
    padding: 0 60px 0 0;

    @media only screen and (max-width: 768px) {
        padding-right: 20px;
    }
}

.edit-tags-php .widefat tfoot th.check-column,
.edit-tags-php .widefat thead th.check-column {
    padding: 10px 0 0 3px;
}

.edit-tags-php #col-left h3 {
    font-size: 16px;
    font-weight: 400;

    @media only screen and (max-width: 768px) {
        padding-top: 20px;
    }
}

.fixed .column-posts {
    width: 76px;
}
