/* *********************** */
/* Footer */
/* *********************** */
#wpfooter {
    background: #444343;
    color: #999;
    margin-left: 200px;
}

#wpfooter a {
    color: #999;
    text-decoration: underline;
}

#wpfooter a:hover {
    color: #fff;
}