/* *********************** */
/* Under Editor */
/* *********************** */
#normal-sortables .postbox {
    background: white !important;
    border: 1px solid #e7e7e7 !important;
    border-radius: 2px;
    padding: 5px 20px 10px;
}

#normal-sortables h2,
#normal-sortables h3 {
    padding: 8px 0;
}

#normal-sortables .postbox .inside, .stuffbox .inside {
    padding: 0 0 12px;
}

#normal-sortables .postbox .handlediv {
    width: 10px;
}